<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.board.BoardMapper">
    <insert id="insBoard" parameterType="BoardEntity">
        INSERT INTO t_board
        (title, ctnt, writer)
        VALUES
        (#{title},#{ctnt},#{writer})
    </insert>

    <update id="updBoard" parameterType="BoardEntity">
        update t_board
        set
        title = #{title},
        ctnt = #{ctnt},
        writer = #{writer},
        updated_at = current_timestamp()
        where iboard = #{iboard}
    </update>

    <delete id="delBoard" parameterType="BoardEntity">
        delete from t_board
        where iboard = #{iboard}
    </delete>

    <select id="selBoardAll" resultType="BoardEntity">
        select
        iboard, title, writer,
        created_at createdAt, update_at updatedAt
        from t_board
    </select>

    <select id="selBoardById" resultType="BoardEntity">
        select
            iboard, title, writer, ctnt,
            created_at createdAt, update_at updatedAt
        from t_board
        where iboard = #{iboard}
    </select>
</mapper>