html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration: none;
    color: #000;
}
/************************************************************************************/

.container {
    width: 1200px;
    margin: 200px auto ;
    text-align: center;
}
.container .board_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .board_head button {
    background: #fff;
    border:1px solid rgb(0,0,0, .5);
    border-radius: 5px;
    transition: all .3s;
}
.container .board_head button:hover{
    background: cadetblue;
}
.container .board_head button:hover a{
    color: #fff;
}
.container .board_head button a {
    font-size: 18px;
    padding: 5px;
    font-weight: bold;
    display: block;
    padding: 5px 10px;
}
.container .board_h1 {
    font-size: 48px ;
    font-weight: bold;
    color: cadetblue;
    margin-bottom: 50px;
}
.container .boardList {
    width: 100%;
}
.container .boardList thead {
    background: darkcyan;
    color: #fff;
    border-bottom: 1px solid #111;
    font-weight: bold;
}
.container .boardList thead tr th {
    padding: 10px 0;
}
.container .boardList tbody tr td {
   padding:20px 0 ;
    border-bottom: 1px solid rgb(0,0,0,.2);
}
.writer_wrap form .writer_head {
    display: flex;
    justify-content: space-between;
}
.writer_wrap form .writer_head input{
    width: 49%;
    height: 40px;
    border-radius: 5px;
}
.writer_wrap form div textarea {
    width: 100%;
    margin: 20px 0;
    height: 400px;
    border-radius: 5px;
}
.writer_wrap form .button {
    width: 100%;
    display: flex;
    justify-content: end;
    background: #fff;
}
.writer_wrap form .button input {
    width: 10%;
    display: block;
    padding: 8px 0 ;
    cursor: pointer;
}